@CHARSET "UTF-8";

body {
	background: url('bg.png') repeat-x;
}
div.container {
	margin-top: 3em;
}
/* width: 136px; height: 124px; */
#sprite {
	width: 136px;
	height: 124px;
	background: url('logo-sprite.png') 0 0 no-repeat;
}
